[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
ipdb = "*"
twine = "*"
pytest = "*"
pytest-cov = "*"

[packages]
spacy = "*"

[requires]
python_version = "3.6"
